th,td {
    padding-left: 110px;
    padding-right: 110px;
    font-size: large;
    text-align: center;
}

.table-rows {
    border: 20px red;
}

.even {
    background-color: lightcoral;
}

.odd {
    background-color: Lightgreen;
}

/*table {
    width: 100%;
}*/

