th,td {
    padding-left: 80px;
    padding-right: 80px;
    font-size: large;
    text-align: center;
}

/*not workin*/
.table-rows {
    padding-left: 100px;
    padding-right: 100px;
    border: 20px red;
}

.even {
    background-color: lightcoral;
}

.odd {
    background-color: Lightgreen;
}

.marked {
    width: 20px;
}

.markingLink {
    color: blue;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*table {
    width: 100%;
}*/

